@model IEnumerable<Projet_Onssa_Web_Mvc.Models.FESet>

@{
    ViewBag.Title = "Index";
}

<div style="padding:30px;">



    <br />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Etat Fiche d'engagement</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CreditsBudgetaires)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepensesEngagees)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Disponible)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EngagementDepensesPropose)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumFe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InfoBC.NumBc)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditsBudgetaires)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepensesEngagees)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Disponible)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EngagementDepensesPropose)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumFe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoBC.NumBc)
                                </td>
                                <td>
                                    @Html.ActionLink("Export", "Export", new { id = item.IdFE })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
