@model Projet_Onssa_Web_Mvc.Models.LrgSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LrgSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParagrapheSet.DescriptionPar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParagrapheSet.DescriptionPar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionLrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionLrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumLrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumLrg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodeLrg }) |
    @Html.ActionLink("Back to List", "Index")
</p>
