@model IEnumerable<Projet_Onssa_Web_Mvc.Models.LrgSet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParagrapheSet.DescriptionPar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionLrg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumLrg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParagrapheSet.DescriptionPar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionLrg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumLrg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodeLrg }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodeLrg }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodeLrg })
        </td>
    </tr>
}

</table>
