@model Projet_Onssa_Web_Mvc.Models.CommissionSet

@{
    ViewBag.Title = "Delete";
}
<div class="container body-content">
    
    <div>
        <h1>Commission <sup style="font-size:15px;">Supprimer</sup></h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prenom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prenom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fonction)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fonction)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Affectation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Affectation)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <br />
            <hr />

            <div class="form-group ">
                <center>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Supprimer" style="margin-left:-150px;  width:20%" class="btn btn-primary" />
                    </div>
                </center>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>
