@model IEnumerable<Projet_Onssa_Web_Mvc.Models.ConsultationSet>

@{
    ViewBag.Title = "Index";
}

<div style="padding:30px;">



    <br />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Etat Consultation</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ObjetConsultation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumConsultation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateLettre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateDelai)
                            </th>
                            <th>
                                @Html.DisplayName("Nom")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            foreach (var item2 in item.ListFournisseur)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ObjetConsultation)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumConsultation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateLettre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateDelai)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Nom)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Export", "Export", new { id = item.IdConsultation, id2 = item2.IdFournisseur })
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
