

@model IEnumerable<Projet_Onssa_Web_Mvc.Models.OPSet>
@{
    ViewBag.Title = "Index";
}


<div style="padding:50px;">

    <h2>Lecture Ordre de paiement </h2>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoOI.NumOi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfoOI.NumOi)
                </td>
                <td>
                    @Html.ActionLink("Export", "Export", new { id = item.IdOP })
                </td>
            </tr>
        }

    </table>
</div>
