@model Projet_Onssa_Web_Mvc.Models.FournisseurSet

@{
    ViewBag.Title = "Delete";
}



<div>
    <h1>Fournisseur</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RC_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RC_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patente_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patente_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IF_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IF_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNSS_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNSS_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compte_bancaire_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compte_bancaire_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banque)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group ">
            <center>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" style="margin-left:-150px; width:35%" class="btn btn-primary" />

                </div>
            </center>

        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

