@model Projet_Onssa_Web_Mvc.Models.FournisseurSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FournisseurSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RC_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RC_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patente_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patente_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IF_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IF_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNSS_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNSS_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compte_bancaire_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compte_bancaire_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFournisseur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
