@model IEnumerable<Projet_Onssa_Web_Mvc.Models.BCSet>

@{
    ViewBag.Title = "Index";
}

<div style="padding:30px;">



    <br />
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lecture BC</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NumBc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Destination)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DelaiExecution)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateBC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InfoMorasse.Exercice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InfoPVJ.NumPvj)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumBc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DelaiExecution)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateBC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoMorasse.Exercice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InfoPVJ.NumPvj)
                                </td>
                                <td>
                                    @Html.ActionLink("Export", "Export", new { id = item.IdBC })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
