@model IEnumerable<Projet_Onssa_Web_Mvc.Models.ModeleDevisSet>

@{
    ViewBag.Title = "Index";
}

<div style="padding:50px;">

    <h2>Lecture modele devis </h2>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDevis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ttc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoConsultation.ObjetConsultation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoFournisseur.Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDevis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ttc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfoConsultation.ObjetConsultation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfoFournisseur.Nom)
                </td>
                <td>
                    @Html.ActionLink("Export", "Export", new { id = item.IdModeleDevis })
                </td>
            </tr>
        }

    </table>
</div>
